<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    {% load static %} <link rel="stylesheet" href={% static "styles/style.css"%} />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="wrapper">
      {% block content %}{% endblock %}
      <footer>
        <div id="footer-left">Support: @hack_mYwAY</div>
        <div id="footer-right">
            <p>Copyright hack_mYwAY all rights reserved.</p>
            <p>Thanks to kid Cho.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
