{% extends "base.html" %} {% block title %}홈화면{% endblock %} {% block content %}
<main>
  <div id="game-profile">
    <div class="game-title">두더지</div>
    <div class="game-title">게임</div>
    <div id="game-intro">지금까지 이런 두더지 게임은<br>없었다. 이것은 게임인가,<br>벌칙인가? 아무도 모른다.</div>
    {% load static %}
    <div id="game-monkey"><img src={% static "image/helloMonkeyClean.webp" %}/></div>
  </div>
  <div id="navigation">
    <button>게임 플레이 방법</button>
    <button>게임 시작</button>
  </div>
</main>
{% endblock %}
