{% extends "base.html" %}{% block title %}잘했음{% endblock %} {% block content %}
{% load static %}
<main>
    <div class="result-title">게임 결과</div>
    <div class="result-score">
        <div>127</div>
        <div>점</div>
    </div>
    <div class="result-comment">
        <img src={% static "image/proud_clean.png" %}/>
        <div class="result-cloud">
            두더지 좀 잡네?<br>두더지 본 적 있냐?
        </div>
        <button><a href="{% url 'play' %}">다시 도전</a></button>
    </div>
</main>
{% endblock %}